<form *ngIf="user" [formGroup]="profileForm">
    <section class="user-features">
        <div class="row">
            <div class="d-flex justify-content-center">
                <label>Profile Photo</label>
                <div class="cross">
                    <i (click)="resetPhoto()" class="far fa-times-circle"></i>
                </div>
                <img class="profile" [src]="user.profilePictureUrl">
                <input class="input-file" type="file" (change)="onFileSelected($event)">
            </div>
        </div>
        <div class="row username">
            <label>Username</label>
            <input type="text" formControlName="userName">
        </div>
        <div class="row email">
            <label>Email</label>
            <input type="text" formControlName="email">
        </div>
        <div *ngIf="email.touched && email.errors?.required" class="alert alert-danger alert-biography">
            Your email field is required!
        </div>
        <div *ngIf="biography.touched && biography.errors?.minlength" class="alert alert-danger alert-biography">
            Your biography should be atleast 20 characters!
        </div>
        <div class="row biography">
            <label>Biography</label>
            <textarea type="text" formControlName="biography"></textarea>
        </div>
        <div class="row">
            <label>Created On</label>
            <input type="text" formControlName="createdOn">
        </div>
        <div class="row">
            <label>Display Name</label>
            <input type="text" formControlName="displayName">
        </div>
        <div *ngIf="displayName.touched && displayName.errors?.minlength" class="alert alert-danger alert-biography">
            Your display name should be atleast 2 characters!
        </div>
        <div *ngIf="displayName.touched && displayName.errors?.maxlength" class="alert alert-danger alert-biography">
            Your display name should be less than 50 characters!
        </div>
        <div class="row">
            <label>Gender</label>
            <input type="text" formControlName="gender">
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="edit(userId)">Save Changes</button>
            <i class="fas fa-trash-alt" data-toggle="modal" data-target="#exampleModalCenter"></i>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body alert-danger">
                    Are you sure you want to delete your account? Once you delete it there is no turning back.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" (click)="delete(userId)">Yes, Im sure</button>
                </div>
            </div>
        </div>
    </div>
</form>