.user-features {
    display: flex;
    flex-direction: column;
    height: 600px;
    flex-wrap: wrap;
}

.row {
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
}

.row input,
.row textarea {
    color: black;
    margin-bottom: 5%;
}

.row input,
.row textarea,
.row label {
    margin-left: 15%;
}

.btn {
    background-color: #DD3333;
    border: none;
    color: black;
    font-family: 'Texturina', serif;
    font-weight: bold;
    outline: none;
    width: 85%;
    align-self: flex-end;
    margin-top: 40px;
}

.alert-biography {
    width: 20%;
    height: 80px;
    margin-left: 80px;
    margin-top: 80px;
}

.fa-trash-alt {
    width: fit-content;
    background: brown;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -35px;
}

.fa-trash-alt:hover {
    cursor: pointer;
}