.story-picture{
    width: 50%;
    text-align: center;
}

.story-picture img{
    width: 100%;
    height: 150px;
    outline: none;
}

.story-picture img:hover{
    cursor: pointer;
}

.title h5{
    text-align: center;
    font-family: 'Texturina', serif;
    outline: none;
}

.title h5:hover{
    cursor: pointer;
    color: red;
}

.content {
    width: 52%;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Texturina', serif;
}

.col-4 {
    margin-top: 50px;
}

.read {
    color: black;
    background: red;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 5px 15px;
    margin-right: 15px;
}

.buttons {
    display: flex;
}

.edit {
    color: black;
    background: lightblue;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 5px 15px;
    margin-left: 15px;

}