.content-wrapper {
    width: 70%;
    margin: 0px auto;
    font-family: 'Texturina', serif;
}

.title h2{
    text-align: center;
    margin-bottom: 30px;
}

.content {
    font-size: 20px;
}

.category {
    font-size: 24px;
    display: flex;
}

.category p {
    color: red;
}

.story-img img{
    width: 70%;
}

.rating {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px 0px;
}