footer {
    background-color: #3A3A3A;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h4 {
    margin: 0px;
}