<div class="campfire-img">
    <img [routerLink]="['/']" src="https://res.cloudinary.com/dn2ouybbf/image/upload/v1606069816/howlerhero_rg6j2m.jpg"
        alt="Campfire">
</div>

<header>
    <nav class="navbar">
        <div *ngIf="isAdmin()" class="dropdown admin">
            <span>Admin <i class="fas fa-chevron-down"></i></span>
            <div class="dropdown-content">
                <a [routerLink]="['/list/category']">See categories</a>
            </div>
        </div>
        <ul>
            <div>
                <section *ngIf="!isLoggedIn()" class="unauthenticated">
                    <li [routerLink]="['/login']">Login</li>
                    <li [routerLink]="['/register']">Register</li>
                </section>
                <section *ngIf="isLoggedIn()" class="authenticated">
                    <li>Hello, <span [routerLink]="['user/profile', userId]">{{displayName}}</span></li>
                    <li (click)="logout()">Logout</li>
                </section>
            </div>
        </ul>
    </nav>
</header>