.campfire-img {
    display: flex;
    justify-content: center;
}

header {
    border-bottom: 5px solid #DD3333;
    margin-bottom: 15px;
    font-family: 'Texturina', serif;
}

nav.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul{
    list-style: none;
}

.navbar ul li {
    margin-right: 15px;
    outline: none;
    font-size: 20px;
    height: 30px;
}

.profile-img {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    position: relative;
    top: -24px;
    outline: none;
}

.navbar ul li span:hover {
    cursor: pointer;
}

.navbar ul li:hover {
    cursor: pointer;
}

.navbar ul li span {
    outline: none;
}

.campfire-img  img{
    width: 30%;
    outline: none;
}

.campfire-img img:hover {
    cursor: pointer;
}

.unauthenticated {
    display: flex;
}

.authenticated {
    display: flex;
}

.admin {
    background: black;
    border: none;
    font-size: 20px;
    outline: none;
    margin-bottom: 15px;
}

.my-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 1);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content a {
      font-size: 14px;
      text-align: center;
      color: red;
      font-weight: bold;
      text-decoration: none;
  }

  .dropdown-content a:hover {
    cursor: pointer;
    color: white;
}

.dropdown-content:hover {
    background-color: black;
    color: white;
}
  
  .my-dropdown:hover .dropdown-content {
    display: block;
  }

  .admin span:hover {
      cursor: pointer;
  }

.admin li {
    list-style: none;
}

.admin li:hover {
    cursor: pointer;
}