form {
    display: inline-flex;
    padding: 8% 10% 5% 10%;
    border: 3px solid red;
    flex-direction: column;
    align-items: center;
}

article {
    text-align: center;
}

form i.fa-user {
    font-size: 40px;
    color: white;
    background: red;
    border-radius: 50%;
    padding: 20px;
}

.register-title {
    font-family: 'Texturina', serif;
    font-weight: 100;
    color: white;
}

.register-additional {
    color: gray;
}

.register-additional span:hover{
    cursor: pointer;
}

.register-additional span,
.register-additional i  {
    color: blue;
}

.fa-chevron-right {
    font-size: 10px;
}

.input-holder > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.displayName label span {
    color: gray;
    font-size: 13px;
}

.input-holder > div > label {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.username label {
    color: white;
}

.username input {
    background-color: black;
    color: white;
}


.displayName label {
    color: white;
}

.displayName input {
    background-color: black;
    color: white;
}

.password label {
    color: white;
}

.password input {
    background-color: black;
    color: white ;
}

.email label {
    color: white;
}

.email input {
    background-color: black;
    color: white;
}

.submit {
    background: #D10608;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 12px 30%;
    font-weight: 600;
    font-size: 15px;
    margin-top: 35px;
    outline: none;
    width: 100%;
}

input[type=text],
input[type=email],
input[type=password] {
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    text-align: center;
    width: 160%;
  }

  .genders {
      display: flex;
  }

  .genders div {
      margin: 0px 25px;
  }

  .form-check-label {
      color: white;
  }
