.story-picture{
    width: 50%;
    text-align: center;
}

.story-picture img{
    width: 100%;
    height: 150px;
}

.story-picture img:hover{
    cursor: pointer;
}

.title h5{
    text-align: center;
    font-family: 'Texturina', serif;
}

.title h5:hover{
    cursor: pointer;
    color: red;
}

.content {
    width: 52%;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Texturina', serif;
}

.col-4 {
    margin-top: 50px;
}

.author p a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.author p a {
    color: red;
}

.read {
    color: black;
    background: red;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 5px 15px;
}