<h2>Latest Stories:</h2>
<div class=" container-fluid">
    <div class="row ">
        <section class="col-4" *ngFor="let story of stories">
            <div class="title">
                <h5>{{story.title}}</h5>
            </div>
            <section class="content-wrapper">
                <div class="story-picture">
                    <img [src]="story.pictureUrl" alt="Story picture">
                </div>
                <div class="content" [innerHTML]="story.content"></div>
                <div *ngIf="userId !== story.userId" class="author">
                    <p>Author:  <a [routerLink]="['user', 'viewProfile', story.userId]">{{story.userName}}</a></p>
                </div>
                <div *ngIf="userId == story.userId" class="author">
                    <p>Author:  <a [routerLink]="['user', 'profile', story.userId]">{{story.userName}}</a></p>
                </div>
            </section>
        </section>
    </div>
</div>