@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

body {
    background: black;
}

* {
    color: white;
}

html, body {
    height: 100%;
  }